<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes contacts{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href=" {{asset('css/app.css')}} ">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {# barre de navigation #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Mes contacts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des contacts</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="{{ path("contacts")}}">Liste des contacts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=" {{path('listeContactsSexe', {'sexe': 0})}} ">Liste des hommes</a>
                    <a class="dropdown-item" href="{{path('listeContactsSexe', {'sexe': 1})}}">Liste des femmes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des catégories</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="{{path("categories")}}">Liste des catégories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=" {{path('nbContactsParCat')}} ">nombre de contacts par catégorie</a>
                </div>
            </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
